body { 
    background: rgb(54, 48, 83);
    color: whitesmoke;
}

h1 {
    text-align: center;
}

#loginForm {
    margin-top: 50px;
}

#loginOverall {
    text-align: center;
}

#accountCreateOverall {
    text-align: center;
}

#logout {
    text-align: right;
    color: aqua;
}

a {
    color: red;
}

a:hover {
    color: darksalmon;
}

a:visited {
    color: chartreuse;
}