body {
    background: black;
    color: darkorchid;
}

h1 {
    text-align: center;
}

#loginForm {
    margin-top: 50px;
}

#loginOverall {
    text-align: center;
}

#accountCreateOverall {
    text-align: center;
}

#signup {
    text-align: right;
}