body { 
    background: rgb(54, 48, 83);
    color: whitesmoke;
}

#loginForm {
    margin-top: 50px;
    text-align: center;
}

#gamelistOverall {
    text-align: center;
}

#gameInfoOverall {
    text-align: center;
}

#loginOverall {
    text-align: center;
}
#accountManagementOverall {
    text-align: center;
}

#accountCreateOverall {
    text-align: center;
}

h1 {
    text-align: center;
    display: inline-block;
}

#logout {
    text-align: right;
    color: aqua;
    float: right;
}

a {
    color: red;
}

a:hover {
    color: darksalmon;
}

a:visited {
    color: chartreuse;
}

.invalid {
    
    border-color: red;
    border-width: 2px;
    background-color:darkgray;
    
}