body {
    background: black;
    color: whitesmoke;
}

h1 {
    text-align: center;
}

#loginForm {
    margin-top: 50px;
}

#loginOverall {
    text-align: center;
}

#accountCreateOverall {
    text-align: center;
}

#logout {
    text-align: right;
}

a:hover {
    color: aqua;
}

a:visited {
    color: chartreuse;
}
